<div>

    <div class="chart-wrapper grafica1">
        <div class="title">
            Speed Zones
        </div>
        <div class="content">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
    </div>

    <div class="col-doble">
        <div class="columna">
            A
        </div>
        <div class="columna">
            B
        </div>
    </div>

    <!--
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
    -->

</div>