*
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
html
    height: 100%
    margin: 0
    padding: 0
    body
        height: 100%
        margin: 0
        padding: 0
        //background-color: red
        background-color: $content-bg-color
        font-family: "ProximaNova"
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

        input[type="text"],
        input[type="password"],
        textarea,
        select
            outline: none

        .full-height
            height: 100%

        header
            height: 60px
            background-color: #2f323a
            width: 100%
            .logo-wrapper
                width: 264px
                height: 100%
                background-color: #1E2025
                position: relative
                float: left
                img
                    width: calc(100% - 90px)
                    position: absolute
                    top: 50%
                    left: 50%
                    -webkit-transform: translate(-50%, -50%)
                    -moz-transform: translate(-50%, -50%)
                    -ms-transform: translate(-50%, -50%)
                    -o-transform: translate(-50%, -50%)
                    transform: translate(-50%, -50%)
            .config
                color: #FFFFFF
                float: left
                width: calc(100% - 264px)
                height: 100%
                position: relative
                p
                    position: absolute
                    right: 40px
                    top: 50%
                    transform: translateY(-50%)
                    margin: 0
                    span
                        margin-right: 10px
                    img
                        vertical-align: middle
                        margin-bottom: 1px
                        cursor: pointer
        section.nav-content
            height: calc(100% - 60px)
            nav
                background-color: $primary-color
                height: 100%
                width: 264px
                float: left
                ul
                    list-style: none
                    padding-left: 0
                    margin-top: 0
                    li
                        //background-color: #2b542c
                        &:hover
                            background-color: $primary-color-hover
                        &:first-child
                            padding: 8px 25px
                            padding-top: 15px
                            input
                                width: 100%
                                border: 0
                                padding: 8px 0px
                                border-bottom: solid 2px $inputs-color
                                background-color: transparent
                                color: #FFF
                                font-size: 16px

                                &::-webkit-input-placeholder // Chrome/Opera/Safari
                                    font-size: 16px
                                    text-transform: uppercase
                                    color: $inputs-color
                                &::-moz-placeholder // Firefox 19+
                                    font-size: 16px
                                    text-transform: uppercase
                                    color: $inputs-color
                                &:-ms-input-placeholder  // IE 10+
                                    font-size: 16px
                                    text-transform: uppercase
                                    color: $inputs-color
                                &:-moz-placeholder // Firefox 18-
                                    font-size: 16px
                                    text-transform: uppercase
                                    color: $inputs-color

                            &:hover
                                background-color: transparent
                        &:last-child
                            margin-top: 135px
                        a
                            text-decoration: none
                            color: #FFF
                            display: block
                            padding: 17px 25px
                            .menu-icon
                                display: inline-block
                                width: 30px
                        a.active
                            background-color: $primary-color-hover
            section.main
                width: calc(100% - 264px)
                height: 100%
                float: left
                padding-top: 40px
                padding-left: 40px
                padding-right: 40px
                overflow-y: scroll
                .principal
                    width: 100%
                    //height: 800px
                    //background-color: #c9c8c8
                    background-color: transparent
                    margin-bottom: 40px

                    .chart-wrapper
                        //background-color: red
                        background-color: #FFFFFF
                        width: 100%
                        height: 350px
                        padding: 15px
                        padding-top: 35px
                        -webkit-border-radius: 4px
                        -moz-border-radius: 4px
                        border-radius: 4px
                        border: solid 1px #e7e7ed
                        .title
                            //background-color: #1b6d85
                            color: $titles-color
                            height: 45px
                            width: 100%
                            font-size: 20px
                        .content
                            //background-color: #2b542c
                            height: calc(100% - 45px)
                    .chart-wrapper.grafica1
                        margin-bottom: 40px
                    .chart-wrapper.grafica3
                        .title
                            text-align: center

                    .col-doble
                        //background-color: #1b6d85
                        width: 100%
                        height: 350px
                        .columna
                            //width: 50%
                            height: 100%
                            float: left
                            &:first-child
                                //background-color: yellow
                                width: calc(70% - 15px)
                                margin-right: 15px
                            &:last-child
                                //background-color: darkgreen
                                width: calc(30% - 15px)
                                margin-left: 15px
div.mansory-articles
    -webkit-column-count: 3 
    -moz-column-count: 3 
    column-count: 3
    -webkit-column-gap: 1em 
    -moz-column-gap: 1em
    column-gap: 1em
    @media only screen and (max-width: 900px)
        -moz-column-count: 2
        -webkit-column-count: 2
        column-count: 2
    @media only screen and (max-width: 700px)
        -moz-column-count: 1
        -webkit-column-count: 1
        column-count: 1
    .item
        background-color: #FFFFFF
        display: inline-block
        margin: 0 0 1em
        width: 100%
        box-sizing: border-box
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        padding: 1em
        padding-bottom: 0
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
        border-radius: 4px
        border: solid 1px #e7e7ed
        .cat-date
            background: red
            width: 100%
            font-size: 12px 
            .cat
                float: left
                width: 70%
                //background-color: yellow
                display: inline-block
                padding-bottom: 15px
                color: $titles-color
            .date
                float: left
                width: 30%
                //background-color: blue
                text-align: right
                padding-bottom: 15px
                color: $inputs-color
        p.title
            color: #000
            margin-bottom: 15px
        img 
            width: calc(100% + 2em)
            margin-left: -1em
            margin-right: -1em
            margin-bottom: 15px
        p.body
            margin-top: -4px
            color: #666363
            font-size: 14px
            margin-bottom: 0
        .footer
            width: calc(100% + 2em)
            margin-left: -1em
            margin-right: -1em
            margin-top: 50px
            border-top: solid 1px #e7e7ed
            .bag,
            .like,
            .reply
                width: 33.3333%
                height: 40px
                //background-color: red
                float: left
                color: #B7B7B7
                i
                    margin-top: 9px
                    font-size: 20px
                    cursor: pointer
            .like
                //background-color: green
            .bag, .reply
                -webkit-border-radius: 4px
                -moz-border-radius: 4px
                border-radius: 4px
            .bag
                i.fa
                    margin-left: 30px
            .like
                text-align: center
                i.fa
                    display: inline-block
                div.number
                    display: inline-block
                    font-size: 14px
                    margin-left: 3px
            .reply
                text-align: right
                i.fa
                    margin-right: 30px



